.alert>p+p {
    margin-left: 23px;
}

.h3 small {
	display: block;
	margin-top: 10px;
	font-size: 0.7em;
}
main {
	font-size: initial !important;
}
th, td {
	padding: 10px !important;
	box-sizing: border-box !important;
}
#example-inpt {
	height: 39.5px !important;
}